form {
    padding: 0 5rem;
}


.sign-up-button.disabled {
    cursor: not-allowed;
}


.terms-and-conditions-checkbox {
    cursor: pointer;
}

.spinner{
    transition: width 250ms;
}

.spinner svg {
    width: 100%;
    height: 2.1rem;
}

.spinner.visible{
    width: 2.1rem;
}

.spinner.hidden{
    width: 0;
}

@media (max-width: 768px) {

    form{         
        width: 100% !important;
        padding: 0;
    }
}